20MCA241: DATA SCIENCE LAB
LAB CYCLE 1
EXERCISE 4: Introduction to Pandas
1. Write a python program to implement List-to-Series Conversion.
2. Write a python program to Generate the series of dates from 1st May, 2021 to 12th
May, 2021 (both inclusive).
3. Given a dictionary, convert it into corresponding dataframe and display it.
4. Given a 2D List, convert it into corresponding dataframe and display it.
5. Given a CSV file, read it into a dataframe and display it.
6. Given a dataframe, sort it by multiple columns.
7. Given a dataframe with custom indexing, convert and it to default indexing and
display it.
8. Given a dataframe, select first 2 rows and output them.
9. Given is a dataframe showing name, occupation, salary of people. Find the average
salary per occupation.
10. Given a dataframe with NaN Values, fill the NaN values with 0.
11. Given is a dataframe showing Company Names (cname) and corresponding Profits
(profit). Convert the values of Profit column such that values in it greater than 0 are
set to True and the rest are set to False.
12. Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee
Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID
(eid) and designation of the employee (designation). Output the Dataframe containing
Employee ID (eid), Employee Name (ename), Stipend (stipend) and Position
(position).

In [1]:
import pandas as pd

In [ ]:
#qn1 series
print(pd.Series([10, 20, 30, 40, 50]))

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
print(pd.date_range("2021-05-01","2021-05-12"))

Date Series:
 DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [13]:
#QN3 DICT  TO DF
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 30, 28],
    "City": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)
print("Dictionary to DataFrame:\n", df)

Dictionary to DataFrame:
       Name  Age       City
0    Alice   24      Delhi
1      Bob   30     Mumbai
2  Charlie   28  Bangalore

In [ ]:
#qn4
print(pd.DataFrame([["A",24],["B",30]],columns=["Name","Age"]))
'''
data = [
    ["Alice", 24, "Delhi"],
    ["Bob", 30, "Mumbai"],
    ["Charlie", 28, "Bangalore"]
]
df = pd.DataFrame(data, columns=["Name", "Age", "City"])
print("2D List to DataFrame:\n", df)
'''

  Name  Age
0    A   24
1    B   30

In [11]:
df = pd.read_csv("ex3.csv")  # replace with actual CSV filename
print("CSV to DataFrame:\n", df)

CSV to DataFrame:
          Country  Gold Medals
0  United States           46
1  Great Britain           27
2          China           26
3         Russia           19
4        Germany           17

In [16]:
#qn6 sort df multiple col
df = pd.DataFrame(data)
sorted_df = df.sort_values(by=["Age", "City"])
print("Sorted by Age & Salary:\n", sorted_df)

Sorted by Age & Salary:
       Name  Age       City
0    Alice   24      Delhi
2  Charlie   28  Bangalore
1      Bob   30     Mumbai

In [ ]:
#qn7